# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Assignment 1/.vs/Assignment 1
/Assignment 1/Assignment 1/x64/Debug
/Assignment 1/Assignment 1/Assignment 1.vcxproj.user
/Assignment 1/Assignment 1/Assignment 1.vcxproj.filters
/Assignment 1/Assignment 1/Assignment 1.vcxproj
/Assignment 1/x64/Debug
*.sln
/Assignment 2/.vs/Assignment 2
/Assignment 2/x64/Debug
/Assignment 2
/Assignment 3/x64/Debug
/Assignment 3/.vs/Assignment 3
/Assignment 3/Assignment 3.vcxproj.user
/Assignment 3/Assignment 3.vcxproj.filters
/Assignment 3/Assignment 3.vcxproj
/Assignment 2/Assignment 2.vcxproj.user
/Assignment 2/Assignment 2.vcxproj.filters
/Assignment 2/Assignment 2.vcxproj
/Assignment 2/x64/Debug
